*{
    margin: auto;
    padding: 0;
    box-sizing: border-box;
}


#header {
    position: absolute;
    top: 0;
    right: 0;
}

li {
    list-style-type: none;
    display: inline;
    margin-right: 15px;
}

a {
    text-decoration: none;
    color: black;
}

#container {
    text-align: center;
    width: 50%;
    margin-top: 300px;
}

#logo {
    font-size: 48px;
    margin-bottom: 20px;
}

input[type="text"] {
    width: 50%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 20px;
    display: block;
}

input[type="submit"] {
    margin-top: 30px;
    margin: 10px;
    border: none;
    background-color: #f8f9fa;
}

footer {
    background-color: lightgray;
    position: absolute;
    bottom: 0;
    width: 100%;
    overflow: hidden;
}


footer nav ul {
    float: left;
    list-style-type: none;
}

footer nav ul.right-links {
    float: right;
    list-style-type: none;
}