* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #fff;
    color: #333;
    background-color: rgb(238, 238, 238);
}

main {
    width: 80%;
    margin: auto;
    background-color: white;
}

header {
    background-color: #e0e0e0;
    overflow: hidden;
}

header h1 {
    float: left;
    padding: 10px;
    font-size: 20px;
}

.busqueda {
    float: right;
    padding: 10px;
}

.busqueda input {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.busqueda button {
    padding: 6px 10px;
    background-color: #45a049;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.busqueda button:hover {
    background-color: #013b03;
}

nav {
    background-color: #333;
    overflow: hidden;
    width: 100%;
}

nav a {
    float: left;
    color: white;
    text-decoration: none;
    padding: 14px 20px;
    font-size: 15px;
}

nav a:hover {
    background-color: lightgray;
    color: black;
}

.fotos {
    width: 100%;
}

.fotos img {
    height: 200px;
    width: 32%;
    float: left;
    padding: 15px;
    transition: opacity 0.3s;
}

.fotos img:hover {
    opacity: 0.7;
}

footer {
    background-color: #333;
    color: white;
    padding: 20px 0;
    overflow: hidden;
    width: 100%;
    clear: both;
}

#contenedorSecciones {
    padding: 30px;
    overflow: hidden;
}

#redesSociales,
#contacto,
#enlaces {
    float: left;
    width: 33%;
    text-align: left;
}

a {
    color: white;
    text-decoration: none;
    
}

section a {
    padding-top: 20px;
    display: block;
}

#enlaces a:hover {
    text-decoration: underline;
}

.RRSS {
    height: 30px;
    width: 30px;
    margin: 5px;
}